html, body {
        height: 100%;
        margin: 0;
        padding: 0;

    }
.container {
    min-height: 100vh;
    width: 100%;
    height: fit-content;
    background-image: url("/static/comicbooks/images/superman.jpeg");
    background-size: cover; /* Scales the image to cover the container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from tiling */
    background-attachment: fixed; /* keeps background in place when scrolling */
    display: flex;
    justify-content: center;
    align-items: flex-start; /*Aligns content at the top */
    padding-top: 100px;
    margin-top: 0; /* Pushes content down from the top */
    padding-bottom: 150px;
}

.details-container {
  max-width: 900px;
  margin: 5rem auto;
  display: flex;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  gap: 2rem;
}

.details-image {
  width: 300px;
  height: auto;

}

.details-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-text h2 {
  margin-bottom: 1rem;
}

h1 {
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        text-align: center;
    }
h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}

nav {
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    font-size: 2rem;
    text-decoration: none;
}

nav a {
    color: white;
}

.comic-list-container {
    padding: 10rem;
    max-width: 1100px;
    margin: auto;
    background-color: floralwhite;
}

.comic-list-heading {
    text-align: center;
    font-size: 35px;
    margin-top: -8rem;
}

.comic-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
}

.comic-card {
    width: 250px;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 515px;
}

.comic-image {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 1px;
}

.comic-placeholder {
    width: 100%;
    height: 300px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.comic-info {
    flex-grow: 1;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    cursor: pointer;
}

.details-button {

  background-color: red;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}

.back-button {
  width: 6rem;
  background-color: red;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  text-decoration: none;
}

.no-comics-message {
    text-align: center;
}

.edit-button {
    width: 6rem;
    background-color: red;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    cursor: pointer;
}

img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.btn-cancel {
    width: 6rem;

    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    cursor: pointer;
}

.btn-cancel:hover {
  background-color: #bbb;
}

.hero-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: -45px;
}

